/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
/* SELECTOR UNIVERSAL */
*{
    padding: 0;
    margin: 0;
}
/* MODIFICACIONES GENERALES */
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
}
section{
    display: flex;

}
p{
    font-size: 0.8rem;
}
/* CLASES */
.imagenes{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0.5rem ;
    width: 100%;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 1rem;

}
.imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.4);
    width: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    width: 7rem;
    height: 11rem;
    transition: all 250ms;
}
.imagen:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
.slideshow img:hover{
    transform: scale(1.07);
    cursor: zoom-in;
    transition: all 300ms;
}
.img-body-vertical img{
    width: 110px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}
.img-body-horizontal img{
    width: 110px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}
.modoOscuro{
    background-color: #19191a;
    color: white;
}
.modoOscuro .overlay{
    background-color: #19191a;
    color: white;
}
.modoOscuro .flechas button{
    color: white;
}
.modoOscuro .cerrar{
    color: white;
}
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease;
}
.overlay .slideshow{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.flechas .atras{
    position: absolute;
    left: -42%;
    top: 50%;
    width: 90%;
}
.flechas .adelante{
    position: absolute;
    right: -42%;
    top: 50%;
    width: 90%;
}
.flechas button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.slideshow img{
    height: 45rem;
    width: 100%;
    object-fit: contain;
    text-align: center;
}
.cerrar{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);;
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
